@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    counter-reset: chapternum figurenum;
    margin: 0;    
    box-sizing: border-box;
    height: 100vh;
    padding: 15px;

}

.coverimage {
    position: relative;
    min-height: 210mm;
    height: 289mm;
    width: 100%;
    page-break-after: avoid;
}
.coverimage img{
    width: 100%;
    height: 289mm;
    margin: 0;
}

.coverText {
    width: 35%;
    position: absolute;
    color: #000;
    bottom: 50px;
    right: 0;
}

.coverText h4 {
    font-size: 12pt;
    font-weight: 400;
}

.coverText h4 strong {
    display: block;
    font-weight: bold;
}

.coverText p {
    margin: 0;
    font-size: 10pt;
}

/* ======== site report ============ */
.siteReport {
    width: 210 mm;
    max-height: 296mm;
    height: 296 mm;
    background: #fff;
    padding: 90px 60px;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0;
    page-break-after: always;
}

.reportmap {
    width: 100%;
    height: 680px;
}
.reportmap img{
    width: 100%;
    height: 100%;
}

.sitereportText {
   width: 75%;
    margin: auto;
    padding: 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    top: -220px;
    left: 0;
    right: 0;
    border-radius: 13px;
    
    background: url(../images/whitebg.png) repeat-x;
    background-size: 100%;
}
.sitereportText div:nth-child(2){
    margin-top: 70px;
}

.sitereportText h1 {
    font-size: 30px;
    margin: 0 0 30px;
}

.sitereportText ul {
    margin: 0;
    padding: 0;
}

.sitereportText ul li {
    color: #787878;
    font-size: 15px;
    font-weight: 400;
    list-style: none;
    margin: 10px 0 0;
    display: flex;
    align-items: center;
}

.sitereportText ul li:nth-child(1) {
    color: #297cc1;
    font-size: 15px;
    font-weight: 500;
    margin: 0 0 0;
}

.sitereportText ul li:nth-child(2) {
    color: #f59e0b;
    font-size: 16px;
    font-weight: 600;
}

.sitereportText ul li img {
    margin-right: 7px;
}

.sitereportText h4 {
    color: #3d9be9;
    font-size: 15px;
    font-weight: 500;
    margin: 0 0 0;
}

.sitereportText p {
    color: #787878;
    font-size: 15px;
    font-weight: 400;
    list-style: none;
    margin: 10px 0 0;
}

.sitereportText p strong {
    font-weight: 600;
}

.datacard {
    width: 100%;
    padding: 15px 5px 0;
    box-sizing: border-box;
    page-break-before: always;
    page-break-after: avoid;
}

.mainbox {
    width: 100%;
    background: #fff;
    box-sizing: border-box;
    margin-top: 11px;
    padding-bottom: 11px;
    height: 95mm;
    border-bottom: 2px solid #000;
}
.datacard div:first-child{
    margin-top: 0px;
}
.datacard div.mainbox:nth-child(3n) {
    page-break-after: always;
    border-bottom: none;
  }

.map,
.countrydetails{
    height: 92mm;
    background: #F9FAFB;
    float: left;
}

.map {
    width: 37%;
    overflow: hidden;
}
.map img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.countrydetails {
    width: 63%;
    padding: 0 20px;
    box-sizing: border-box;
}

.cardfooter{
    width: 100%;
    height: 5px;
    position: relative;
    bottom: 14px;
}
.cardfooter p{
    text-align: right;
    font-size: 12px;
    line-height: 20px;
    color: #646464;
    font-weight: 500;
    margin: 0;
}

.mainbox h1 {
    font-size: 14pt;
    color: #1f2937;
    font-weight: 600;
    margin: 0;
}
.mainbox h4 {
    font-size: 12pt;
    color: #2a3442;
    font-weight: 500;
    margin: 1px 0 5px;
}
.cardtext {
    padding: 0 0 0 25px;
    margin: 0 0 10px;
    position: relative;
    width: 100%;
    float: left;
    box-sizing: border-box;
}
.cardtext:last-child{
    margin: 0 ;
}

.cardtext > img {
    position: absolute;
    left: 0;
    top: 2px;
    width: 18px;
}

.cardtext h3 {
    font-size: 13px;
    color: #1f2937;
    font-weight: 600;
    margin: 0;
}

.noteimg {
    width: 13px;
    position: relative !important;
}

.cardtext p {
    font-size: 10.5pt;
    line-height: 16pt;
    color: #1f2937;
    font-weight: 400;
    margin:0;
}

p a {
    color: #3d9be9;
    text-decoration: none;
}

.lavelindic {
    width: 100%;
    position: relative;
    top: -12px;
    margin-bottom: 12px;
}

.lavelindic div {
    height: 2px;
    margin-right: 5px;
    width: 18%;
    border-radius: 5px;
    float: left;
}
.lavelindic div img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}


