@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

body {
    font-family: 'Roboto Mono', monospace;
    counter-reset: chapternum figurenum;
    margin: 0;    
    box-sizing: border-box;
    height: 100vh;
}

.mainwrapper {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: #fff;
}

.coverimage {
    position: relative;
    min-height: 11.69in;
    height: 11.69in;
    width: 100%;
}
.coverimage img{
    width: 100%;
}

.coverText {
    width: 35%;
    position: absolute;
    color: #000;
    bottom: 50px;
    right: 0;
}

.coverText h4 {
    font-size: 12pt;
    font-weight: 400;
}

.coverText h4 strong {
    display: block;
    font-weight: bold;
}

.coverText p {
    margin: 0;
    font-size: 10pt;
}

/* ======== site report ============ */
.siteReport {
    height: 294mm;
    width: 100%;
    background: #fff;

    
    box-sizing: border-box;
    overflow: hidden;
    margin: 0;
    position: relative;
    padding: 90px 60px;
}

.reportmap {
    width: 100%;
    height: 680px;
}
.reportmap img{
    width: 100%;
    height: 100%;
}

.sitereportText {
   width: 75%;
    margin: auto;
    padding: 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    bottom: 90px;
    left: 0;
    right: 0;
    border-radius: 13px;
    
    background: url(../images/whitebg.png) repeat-x;
    background-size: 100%;
}
.sitereportText div:nth-child(2){
    margin-top: 70px;
}

.sitereportText h1 {
    font-size: 30px;
    margin: 0 0 30px;
}

.sitereportText ul {
    margin: 0;
    padding: 0;
}

.sitereportText ul li {
    color: #787878;
    font-size: 15px;
    font-weight: 400;
    list-style: none;
    margin: 10px 0 0;
    display: flex;
    align-items: center;
}

.sitereportText ul li:nth-child(1) {
    color: #297cc1;
    font-size: 15px;
    font-weight: 500;
    margin: 0 0 0;
}

.sitereportText ul li:nth-child(2) {
    color: #f59e0b;
    font-size: 16px;
    font-weight: 600;
}

.sitereportText ul li img {
    margin-right: 7px;
}

.sitereportText h4 {
    color: #3d9be9;
    font-size: 15px;
    font-weight: 500;
    margin: 0 0 0;
}

.sitereportText p {
    color: #787878;
    font-size: 14px;
    font-weight: 400;
    list-style: none;
    margin: 10px 0 0;
}

.sitereportText p strong {
    font-weight: 800;
}

.datacard {
    width: 100%;
    padding: 15px 5px 0;
    box-sizing: border-box;
    page-break-before: always;
    page-break-after: avoid;
}

.mainbox {
    width: 100%;
    background: #fff;
    box-sizing: border-box;
    margin-top: 15px;
    height: 94mm;
}
.datacard div:first-child{
    margin-top: 0px;
}
.datacard div.mainbox:nth-child(3n) {
    page-break-after: always;
  }

.map,
.countrydetails,
.textData {
    height: 88mm;
    background: #F9FAFB;
    border-radius: 5px;
    -webkit-box-shadow: 0px 3px 13px 1px rgba(0,0,0,0.67);
-moz-box-shadow: 0px 3px 13px 1px rgba(0,0,0,0.67);
box-shadow: 0px 3px 13px 1px rgba(0,0,0,0.67);
float: left;
}

.map {
    width: 26%;
    overflow: hidden;
}
.map img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.countrydetails {
    width: 38%;
    margin: 0 2%;
    padding: 10px 15px;
    box-sizing: border-box;
}

.textData {
    width: 32%;
    padding: 10px 15px;
    box-sizing: border-box;
}
.cardfooter{
    float: left;
    width: 100%;
}
.cardfooter p{
    text-align: right;
    font-size: 12px;
    line-height: 20px;
    color: #646464;
    font-weight: 500;
    margin: 4px 0 0;
}

.mainbox h1 {
    font-size: 15pt;
    color: #1f2937;
    font-weight: 500;
    margin: 0;
}
.mainbox h4 {
    font-size: 12pt;
    color: #1f2937;
    font-weight: 400;
    margin: 3px 0 7px;
}
.mainbox ul {
    padding: 0;
    margin: 0;
}

.mainbox ul li {
    position: relative;
    list-style: none;
    padding: 0 0 0 30px;
    margin: 0 0 20px;
    width: 100%;
    float: left;
    box-sizing: border-box;
}

.mainbox ul li img {
    position: absolute;
    left: 0;
    top: 2px;
}

.mainbox ul li h3 {
    font-size: 10.5pt;
    color: #1f2937;
    font-weight: 500;
    margin: 0;
}

.noteimg {
    width: 16px;
    position: relative !important;
}

.mainbox ul li p {
    font-size: 10.5pt;
    line-height: 16pt;
    color: #1f2937;
    font-weight: 400;
    margin: 7px 0 0;
}

p a {
    color: #3d9be9;
    text-decoration: none;
}

.mainbox ul li span {
    font-size: 16px;
    color: #a7a7a7;
    font-weight: 400;
    margin: 15px 0 10px;
    display: block;
}

.mainbox ul li select {
    width: 150px;
    color: #03A9F4;
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.mainbox ul li label.lb1 {
    background: #fef5e6;
    color: #f8a90b;
    padding: 5px 12px 7px;
    border-radius: 11px;
    font-size: 14px;
}

.lb2 {
    width: 100%;
    position: relative;
}
.lb2 label {
    background: transparent;
    color: #f59e0b;
    padding: 4px 7px 6px;
    border-radius: 9px;
    font-size: 8pt;
    border: 1px solid #f59e0b;
    margin: -1px 0 0 20px;
    position: absolute;
    top: -3px;
    right: 0;
}

.lavelindic {
    width: 100%;
    margin: 10px 0 0;
    float: left;
}

.lavelindic div {
    height: 3px;
    background: #b91c1c;
    margin-right: 2px;
    width: 18%;
    border-radius: 5px;
    float: left;
}




/* @media print {
    .mainwrapper {
        min-width: 100%;
        background: red;
    }
    .coverimage {
        position: relative;
        margin: 0px;
    }

    .map {
        width: 28%;
        float: left;
    }

    .countrydetails {
        width: 32%;
        margin: 0 2%;
        float: left;
    }

    .textData {
        width: 28%;
        float: left;
    }

    .mainbox {
        padding: 10px;
        margin-bottom: 0;
        width: 100%;
        float: left;
    }

    .map,
    .countrydetails,
    .textData {
        padding: 11px 10px;
        height: 331px;
    }

    .countrydetails h1,
    .textData h1 {
        font-size: 19px;
        margin: 0 0 10px;
    }

    .mainbox ul li {
        padding: 0 0 0 20px;
        margin: 0 0 18px;
    }

    .mainbox ul li:last-child {
        margin: 0;
    }

    .mainbox ul li h3 {
        font-size: 13px;
    }

    .mainbox ul li p {
        font-size: 14px;
        margin: 7px 0 0;
    }

    .mainbox ul li select {
        width: 110px;
        font-size: 12px;
    }

    .mainbox ul li label.lb1 {
        padding: 5px 12px 7px;
        font-size: 12px;
        color: #f8a90b;
    }

    .mainbox ul li img {
        width: 13px;
    }

    .mainbox ul li span {
        font-size: 15px;
        margin: 5px 0 5px;
    }

    .lb2 label {
        padding: 2px 5px 3px;
        border-radius: 7px;
        font-size: 10px;
        margin: 0 0 0 10px;
        position: relative;
        top: -4px;
    }

    .noteimg {
        width: 11px;
    }

    .lavelindic {
        width: 100%;
        margin: 8px 0 0;
    }

    .lavelindic div {
        height: 3px;
        margin-right: 2px;
        width: 19%;
        float: left;
    }
    .reportmap{
        width: 100%;
    }
    .reportmap img{
        width: 100%;
    }
    .siteReport {
        margin-top: -4px;
        margin-bottom: 10px;
        box-shadow:none;
        border-radius: 0;
    }
    .sitereportText {
        width: 70%;
    }
    .reportmap iframe{
        width: 100%;
    }
    .datacard {
        padding: 0;
        background: #03A9F4;
    }
    .mainbox ul.countryLeft li{
        margin: 0 0 35px;
    }
} */
