<!DOCTYPE html>
<html>
  <head>
    <title>Page Title</title>
    <!-- <link href="../styles/style.css" rel="stylesheet" /> -->
    <link rel="stylesheet" href="{{stylesPath}}" />
  </head>

  <body>
    <div class="coverimage">
      <img src="{{imagesPath}}/coverimage.jpeg" alt="" />
      <div class="coverText">
        <h4>
          <strong>Site Assessment Report</strong>Field Street, Willenhall
        </h4>
        <p>Produced By : Abhilash Mandula</p>
        <p>Date Produced : 22nd April 2023</p>
      </div>
    </div>
    <div class="siteReport">
      <div class="reportmap">
        <img src="{{imagesPath}}/cover-image.png" alt="" />
      </div>

      <div class="sitereportText">
        <div>
          <h1>Site Assessment Report</h1>
          <ul>
            <li>
              <img src="{{imagesPath}}/rep1.jpg" />Site overview report demo
              to Andy
            </li>
            <li><img src="{{imagesPath}}/rep2.jpg" />site overview</li>
            <li>
              <img src="{{imagesPath}}/rep3.jpg" />38 Dartmouth Rd, cannock
              WS11 1HF, UK
            </li>
            <li>
              <img src="{{imagesPath}}/rep4.jpg" />Report generated 3 weeks
              ago
            </li>
          </ul>
        </div>
        <div>
          <h4>BASIC SITE DETAILS</h4>
          <p><strong>Region: </strong>West Midlands</p>
          <p><strong>Local Authority: </strong>Staffordshire</p>
          <p><strong>Region: </strong>Cannock Chase Lpa</p>
          <p><strong>Ward: </strong>Cannock West</p>
          <p><strong>Parish: </strong></p>
        </div>
      </div>
    </div>
    <div class="datacard">
      <div class="mainbox">
        <div class="map">
          <img src="{{imagesPath}}/cover-image.png" alt="" />
        </div>
        <div class="countrydetails">
          <h1>Country</h1>
          <h4>Boundaries</h4>
          <ul class="countryLeft">
            <li>
              <img src="{{imagesPath}}/icon1.jpg" alt="" />
              <h3>Automated Report</h3>
              <p>
                The selected location is within the
                <a href="#">staffordshire</a> country
              </p>
            </li>
            <li>
              <img src="{{imagesPath}}/icon3.jpg" alt="" />
              <h3>Risk Level</h3>
              <p>Risk</p>
              <div class="lavelindic">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </li>

            <li>
              <img src="{{imagesPath}}/icon7.jpg" alt="" />
              <h3>Importance</h3>
              <p>Very Low</p>
              <div class="lavelindic">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </li>
          </ul>
        </div>

        <div class="textData">
          <h1>&nbsp;</h1>
          <h4>&nbsp;</h4>
          <ul>
            <li>
              <img src="{{imagesPath}}/icon2.jpg" alt="" />
              <h3>Custom Noted</h3>
              <p>
                change view and risk level
                <a href="#"
                  ><img src="{{imagesPath}}/icon4.jpg" alt="" class="noteimg"
                /></a>
              </p>
            </li>
            <li>
              <img src="{{imagesPath}}/icon8.jpg" alt="" />
              <div class="lb2">
                <h3>Risk Level</h3>
                <label>customized</label>
              </div>
              <p>High Risk</p>
            </li>
            <li>
              <img src="{{imagesPath}}/icon6.jpg" alt="" />
              <h3>Provider</h3>
              <p>office for National statistics</p>
            </li>
          </ul>
        </div>
        <div class="cardfooter">
          <p>This is footer text</p>
        </div>
      </div>
      <div class="mainbox">
        <div class="map">
          <img src="{{imagesPath}}/cover-image.png" alt="" />
        </div>
        <div class="countrydetails">
          <h1>Country</h1>
          <h4>Boundaries</h4>
          <ul class="countryLeft">
            <li>
              <img src="{{imagesPath}}/icon1.jpg" alt="" />
              <h3>Automated Report</h3>
              <p>
                The selected location is within the
                <a href="#">staffordshire</a> country
              </p>
            </li>
            <li>
              <img src="{{imagesPath}}/icon3.jpg" alt="" />
              <h3>Risk Level</h3>
              <p>Risk</p>
              <div class="lavelindic">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </li>

            <li>
              <img src="{{imagesPath}}/icon7.jpg" alt="" />
              <h3>Importance</h3>
              <p>Very Low</p>
              <div class="lavelindic">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </li>
          </ul>
        </div>

        <div class="textData">
          <h1>&nbsp;</h1>
          <h4>&nbsp;</h4>
          <ul>
            <li>
              <img src="{{imagesPath}}/icon2.jpg" alt="" />
              <h3>Custom Noted</h3>
              <p>
                change view and risk level
                <a href="#"
                  ><img src="{{imagesPath}}/icon4.jpg" alt="" class="noteimg"
                /></a>
              </p>
            </li>
            <li>
              <img src="{{imagesPath}}/icon8.jpg" alt="" />
              <div class="lb2">
                <h3>Risk Level</h3>
                <label>customized</label>
              </div>
              <p>High Risk</p>
            </li>
            <li>
              <img src="{{imagesPath}}/icon6.jpg" alt="" />
              <h3>Provider</h3>
              <p>office for National statistics</p>
            </li>
          </ul>
        </div>
        <div class="cardfooter">
          <p>This is footer text</p>
        </div>
      </div>
      <div class="mainbox">
        <div class="map">
          <img src="{{imagesPath}}/cover-image.png" alt="" />
        </div>
        <div class="countrydetails">
          <h1>Country</h1>
          <h4>Boundaries</h4>
          <ul class="countryLeft">
            <li>
              <img src="{{imagesPath}}/icon1.jpg" alt="" />
              <h3>Automated Report</h3>
              <p>
                The selected location is within the
                <a href="#">staffordshire</a> country
              </p>
            </li>
            <li>
              <img src="{{imagesPath}}/icon3.jpg" alt="" />
              <h3>Risk Level</h3>
              <p>Risk</p>
              <div class="lavelindic">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </li>

            <li>
              <img src="{{imagesPath}}/icon7.jpg" alt="" />
              <h3>Importance</h3>
              <p>Very Low</p>
              <div class="lavelindic">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </li>
          </ul>
        </div>

        <div class="textData">
          <h1>&nbsp;</h1>
          <h4>&nbsp;</h4>
          <ul>
            <li>
              <img src="{{imagesPath}}/icon2.jpg" alt="" />
              <h3>Custom Noted</h3>
              <p>
                change view and risk level
                <a href="#"
                  ><img src="{{imagesPath}}/icon4.jpg" alt="" class="noteimg"
                /></a>
              </p>
            </li>
            <li>
              <img src="{{imagesPath}}/icon8.jpg" alt="" />
              <div class="lb2">
                <h3>Risk Level</h3>
                <label>customized</label>
              </div>
              <p>High Risk</p>
            </li>
            <li>
              <img src="{{imagesPath}}/icon6.jpg" alt="" />
              <h3>Provider</h3>
              <p>office for National statistics</p>
            </li>
          </ul>
        </div>
        <div class="cardfooter">
          <p>This is footer text</p>
        </div>
      </div>
      <div class="mainbox">
        <div class="map">
          <img src="{{imagesPath}}/cover-image.png" alt="" />
        </div>
        <div class="countrydetails">
          <h1>Country</h1>
          <h4>Boundaries</h4>
          <ul class="countryLeft">
            <li>
              <img src="{{imagesPath}}/icon1.jpg" alt="" />
              <h3>Automated Report</h3>
              <p>
                The selected location is within the
                <a href="#">staffordshire</a> country
              </p>
            </li>
            <li>
              <img src="{{imagesPath}}/icon3.jpg" alt="" />
              <h3>Risk Level</h3>
              <p>Risk</p>
              <div class="lavelindic">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </li>

            <li>
              <img src="{{imagesPath}}/icon7.jpg" alt="" />
              <h3>Importance</h3>
              <p>Very Low</p>
              <div class="lavelindic">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </li>
          </ul>
        </div>

        <div class="textData">
          <h1>&nbsp;</h1>
          <h4>&nbsp;</h4>
          <ul>
            <li>
              <img src="{{imagesPath}}/icon2.jpg" alt="" />
              <h3>Custom Noted</h3>
              <p>
                change view and risk level
                <a href="#"
                  ><img src="{{imagesPath}}/icon4.jpg" alt="" class="noteimg"
                /></a>
              </p>
            </li>
            <li>
              <img src="{{imagesPath}}/icon8.jpg" alt="" />
              <div class="lb2">
                <h3>Risk Level</h3>
                <label>customized</label>
              </div>
              <p>High Risk</p>
            </li>
            <li>
              <img src="{{imagesPath}}/icon6.jpg" alt="" />
              <h3>Provider</h3>
              <p>office for National statistics</p>
            </li>
          </ul>
        </div>
        <div class="cardfooter">
          <p>This is footer text</p>
        </div>
      </div>
      <div class="mainbox">
        <div class="map">
          <img src="{{imagesPath}}/cover-image.png" alt="" />
        </div>
        <div class="countrydetails">
          <h1>Country</h1>
          <h4>Boundaries</h4>
          <ul class="countryLeft">
            <li>
              <img src="{{imagesPath}}/icon1.jpg" alt="" />
              <h3>Automated Report</h3>
              <p>
                The selected location is within the
                <a href="#">staffordshire</a> country
              </p>
            </li>
            <li>
              <img src="{{imagesPath}}/icon3.jpg" alt="" />
              <h3>Risk Level</h3>
              <p>Risk</p>
              <div class="lavelindic">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </li>

            <li>
              <img src="{{imagesPath}}/icon7.jpg" alt="" />
              <h3>Importance</h3>
              <p>Very Low</p>
              <div class="lavelindic">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </li>
          </ul>
        </div>

        <div class="textData">
          <h1>&nbsp;</h1>
          <h4>&nbsp;</h4>
          <ul>
            <li>
              <img src="{{imagesPath}}/icon2.jpg" alt="" />
              <h3>Custom Noted</h3>
              <p>
                change view and risk level
                <a href="#"
                  ><img src="{{imagesPath}}/icon4.jpg" alt="" class="noteimg"
                /></a>
              </p>
            </li>
            <li>
              <img src="{{imagesPath}}/icon8.jpg" alt="" />
              <div class="lb2">
                <h3>Risk Level</h3>
                <label>customized</label>
              </div>
              <p>High Risk</p>
            </li>
            <li>
              <img src="{{imagesPath}}/icon6.jpg" alt="" />
              <h3>Provider</h3>
              <p>office for National statistics</p>
            </li>
          </ul>
        </div>
        <div class="cardfooter">
          <p>This is footer text</p>
        </div>
      </div>
      <div class="mainbox">
        <div class="map">
          <img src="{{imagesPath}}/cover-image.png" alt="" />
        </div>
        <div class="countrydetails">
          <h1>Country</h1>
          <h4>Boundaries</h4>
          <ul class="countryLeft">
            <li>
              <img src="{{imagesPath}}/icon1.jpg" alt="" />
              <h3>Automated Report</h3>
              <p>
                The selected location is within the
                <a href="#">staffordshire</a> country
              </p>
            </li>
            <li>
              <img src="{{imagesPath}}/icon3.jpg" alt="" />
              <h3>Risk Level</h3>
              <p>Risk</p>
              <div class="lavelindic">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </li>

            <li>
              <img src="{{imagesPath}}/icon7.jpg" alt="" />
              <h3>Importance</h3>
              <p>Very Low</p>
              <div class="lavelindic">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </li>
          </ul>
        </div>

        <div class="textData">
          <h1>&nbsp;</h1>
          <h4>&nbsp;</h4>
          <ul>
            <li>
              <img src="{{imagesPath}}/icon2.jpg" alt="" />
              <h3>Custom Noted</h3>
              <p>
                change view and risk level
                <a href="#"
                  ><img src="{{imagesPath}}/icon4.jpg" alt="" class="noteimg"
                /></a>
              </p>
            </li>
            <li>
              <img src="{{imagesPath}}/icon8.jpg" alt="" />
              <div class="lb2">
                <h3>Risk Level</h3>
                <label>customized</label>
              </div>
              <p>High Risk</p>
            </li>
            <li>
              <img src="{{imagesPath}}/icon6.jpg" alt="" />
              <h3>Provider</h3>
              <p>office for National statistics</p>
            </li>
          </ul>
        </div>
        <div class="cardfooter">
          <p>This is footer text</p>
        </div>
      </div>
      <div class="mainbox">
        <div class="map">
          <img src="{{imagesPath}}/cover-image.png" alt="" />
        </div>
        <div class="countrydetails">
          <h1>Country</h1>
          <h4>Boundaries</h4>
          <ul class="countryLeft">
            <li>
              <img src="{{imagesPath}}/icon1.jpg" alt="" />
              <h3>Automated Report</h3>
              <p>
                The selected location is within the
                <a href="#">staffordshire</a> country
              </p>
            </li>
            <li>
              <img src="{{imagesPath}}/icon3.jpg" alt="" />
              <h3>Risk Level</h3>
              <p>Risk</p>
              <div class="lavelindic">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </li>

            <li>
              <img src="{{imagesPath}}/icon7.jpg" alt="" />
              <h3>Importance</h3>
              <p>Very Low</p>
              <div class="lavelindic">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </li>
          </ul>
        </div>

        <div class="textData">
          <h1>&nbsp;</h1>
          <h4>&nbsp;</h4>
          <ul>
            <li>
              <img src="{{imagesPath}}/icon2.jpg" alt="" />
              <h3>Custom Noted</h3>
              <p>
                change view and risk level
                <a href="#"
                  ><img src="{{imagesPath}}/icon4.jpg" alt="" class="noteimg"
                /></a>
              </p>
            </li>
            <li>
              <img src="{{imagesPath}}/icon8.jpg" alt="" />
              <div class="lb2">
                <h3>Risk Level</h3>
                <label>customized</label>
              </div>
              <p>High Risk</p>
            </li>
            <li>
              <img src="{{imagesPath}}/icon6.jpg" alt="" />
              <h3>Provider</h3>
              <p>office for National statistics</p>
            </li>
          </ul>
        </div>
        <div class="cardfooter">
          <p>This is footer text</p>
        </div>
      </div>
      <div class="mainbox">
        <div class="map">
          <img src="{{imagesPath}}/cover-image.png" alt="" />
        </div>
        <div class="countrydetails">
          <h1>Country</h1>
          <h4>Boundaries</h4>
          <ul class="countryLeft">
            <li>
              <img src="{{imagesPath}}/icon1.jpg" alt="" />
              <h3>Automated Report</h3>
              <p>
                The selected location is within the
                <a href="#">staffordshire</a> country
              </p>
            </li>
            <li>
              <img src="{{imagesPath}}/icon3.jpg" alt="" />
              <h3>Risk Level</h3>
              <p>Risk</p>
              <div class="lavelindic">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </li>

            <li>
              <img src="{{imagesPath}}/icon7.jpg" alt="" />
              <h3>Importance</h3>
              <p>Very Low</p>
              <div class="lavelindic">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </li>
          </ul>
        </div>

        <div class="textData">
          <h1>&nbsp;</h1>
          <h4>&nbsp;</h4>
          <ul>
            <li>
              <img src="{{imagesPath}}/icon2.jpg" alt="" />
              <h3>Custom Noted</h3>
              <p>
                change view and risk level
                <a href="#"
                  ><img src="{{imagesPath}}/icon4.jpg" alt="" class="noteimg"
                /></a>
              </p>
            </li>
            <li>
              <img src="{{imagesPath}}/icon8.jpg" alt="" />
              <div class="lb2">
                <h3>Risk Level</h3>
                <label>customized</label>
              </div>
              <p>High Risk</p>
            </li>
            <li>
              <img src="{{imagesPath}}/icon6.jpg" alt="" />
              <h3>Provider</h3>
              <p>office for National statistics</p>
            </li>
          </ul>
        </div>
        <div class="cardfooter">
          <p>This is footer text</p>
        </div>
      </div>
      <div class="mainbox">
        <div class="map">
          <img src="{{imagesPath}}/cover-image.png" alt="" />
        </div>
        <div class="countrydetails">
          <h1>Country</h1>
          <h4>Boundaries</h4>
          <ul class="countryLeft">
            <li>
              <img src="{{imagesPath}}/icon1.jpg" alt="" />
              <h3>Automated Report</h3>
              <p>
                The selected location is within the
                <a href="#">staffordshire</a> country
              </p>
            </li>
            <li>
              <img src="{{imagesPath}}/icon3.jpg" alt="" />
              <h3>Risk Level</h3>
              <p>Risk</p>
              <div class="lavelindic">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </li>

            <li>
              <img src="{{imagesPath}}/icon7.jpg" alt="" />
              <h3>Importance</h3>
              <p>Very Low</p>
              <div class="lavelindic">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </li>
          </ul>
        </div>

        <div class="textData">
          <h1>&nbsp;</h1>
          <h4>&nbsp;</h4>
          <ul>
            <li>
              <img src="{{imagesPath}}/icon2.jpg" alt="" />
              <h3>Custom Noted</h3>
              <p>
                change view and risk level
                <a href="#"
                  ><img src="{{imagesPath}}/icon4.jpg" alt="" class="noteimg"
                /></a>
              </p>
            </li>
            <li>
              <img src="{{imagesPath}}/icon8.jpg" alt="" />
              <div class="lb2">
                <h3>Risk Level</h3>
                <label>customized</label>
              </div>
              <p>High Risk</p>
            </li>
            <li>
              <img src="{{imagesPath}}/icon6.jpg" alt="" />
              <h3>Provider</h3>
              <p>office for National statistics</p>
            </li>
          </ul>
        </div>
        <div class="cardfooter">
          <p>This is footer text</p>
        </div>
      </div>
      <div class="mainbox">
        <div class="map">
          <img src="{{imagesPath}}/cover-image.png" alt="" />
        </div>
        <div class="countrydetails">
          <h1>Country</h1>
          <h4>Boundaries</h4>
          <ul class="countryLeft">
            <li>
              <img src="{{imagesPath}}/icon1.jpg" alt="" />
              <h3>Automated Report</h3>
              <p>
                The selected location is within the
                <a href="#">staffordshire</a> country
              </p>
            </li>
            <li>
              <img src="{{imagesPath}}/icon3.jpg" alt="" />
              <h3>Risk Level</h3>
              <p>Risk</p>
              <div class="lavelindic">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </li>

            <li>
              <img src="{{imagesPath}}/icon7.jpg" alt="" />
              <h3>Importance</h3>
              <p>Very Low</p>
              <div class="lavelindic">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </li>
          </ul>
        </div>

        <div class="textData">
          <h1>&nbsp;</h1>
          <h4>&nbsp;</h4>
          <ul>
            <li>
              <img src="{{imagesPath}}/icon2.jpg" alt="" />
              <h3>Custom Noted</h3>
              <p>
                change view and risk level
                <a href="#"
                  ><img src="{{imagesPath}}/icon4.jpg" alt="" class="noteimg"
                /></a>
              </p>
            </li>
            <li>
              <img src="{{imagesPath}}/icon8.jpg" alt="" />
              <div class="lb2">
                <h3>Risk Level</h3>
                <label>customized</label>
              </div>
              <p>High Risk</p>
            </li>
            <li>
              <img src="{{imagesPath}}/icon6.jpg" alt="" />
              <h3>Provider</h3>
              <p>office for National statistics</p>
            </li>
          </ul>
        </div>
        <div class="cardfooter">
          <p>This is footer text</p>
        </div>
      </div>
      <div class="mainbox">
        <div class="map">
          <img src="{{imagesPath}}/cover-image.png" alt="" />
        </div>
        <div class="countrydetails">
          <h1>Country</h1>
          <h4>Boundaries</h4>
          <ul class="countryLeft">
            <li>
              <img src="{{imagesPath}}/icon1.jpg" alt="" />
              <h3>Automated Report</h3>
              <p>
                The selected location is within the
                <a href="#">staffordshire</a> country
              </p>
            </li>
            <li>
              <img src="{{imagesPath}}/icon3.jpg" alt="" />
              <h3>Risk Level</h3>
              <p>Risk</p>
              <div class="lavelindic">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </li>

            <li>
              <img src="{{imagesPath}}/icon7.jpg" alt="" />
              <h3>Importance</h3>
              <p>Very Low</p>
              <div class="lavelindic">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </li>
          </ul>
        </div>

        <div class="textData">
          <h1>&nbsp;</h1>
          <h4>&nbsp;</h4>
          <ul>
            <li>
              <img src="{{imagesPath}}/icon2.jpg" alt="" />
              <h3>Custom Noted</h3>
              <p>
                change view and risk level
                <a href="#"
                  ><img src="{{imagesPath}}/icon4.jpg" alt="" class="noteimg"
                /></a>
              </p>
            </li>
            <li>
              <img src="{{imagesPath}}/icon8.jpg" alt="" />
              <div class="lb2">
                <h3>Risk Level</h3>
                <label>customized</label>
              </div>
              <p>High Risk</p>
            </li>
            <li>
              <img src="{{imagesPath}}/icon6.jpg" alt="" />
              <h3>Provider</h3>
              <p>office for National statistics</p>
            </li>
          </ul>
        </div>
        <div class="cardfooter">
          <p>This is footer text</p>
        </div>
      </div>
      <div class="mainbox">
        <div class="map">
          <img src="{{imagesPath}}/cover-image.png" alt="" />
        </div>
        <div class="countrydetails">
          <h1>Country</h1>
          <h4>Boundaries</h4>
          <ul class="countryLeft">
            <li>
              <img src="{{imagesPath}}/icon1.jpg" alt="" />
              <h3>Automated Report</h3>
              <p>
                The selected location is within the
                <a href="#">staffordshire</a> country
              </p>
            </li>
            <li>
              <img src="{{imagesPath}}/icon3.jpg" alt="" />
              <h3>Risk Level</h3>
              <p>Risk</p>
              <div class="lavelindic">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </li>

            <li>
              <img src="{{imagesPath}}/icon7.jpg" alt="" />
              <h3>Importance</h3>
              <p>Very Low</p>
              <div class="lavelindic">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </li>
          </ul>
        </div>

        <div class="textData">
          <h1>&nbsp;</h1>
          <h4>&nbsp;</h4>
          <ul>
            <li>
              <img src="{{imagesPath}}/icon2.jpg" alt="" />
              <h3>Custom Noted</h3>
              <p>
                change view and risk level
                <a href="#"
                  ><img src="{{imagesPath}}/icon4.jpg" alt="" class="noteimg"
                /></a>
              </p>
            </li>
            <li>
              <img src="{{imagesPath}}/icon8.jpg" alt="" />
              <div class="lb2">
                <h3>Risk Level</h3>
                <label>customized</label>
              </div>
              <p>High Risk</p>
            </li>
            <li>
              <img src="{{imagesPath}}/icon6.jpg" alt="" />
              <h3>Provider</h3>
              <p>office for National statistics</p>
            </li>
          </ul>
        </div>
        <div class="cardfooter">
          <p>This is footer text</p>
        </div>
      </div>
      <div class="mainbox">
        <div class="map">
          <img src="{{imagesPath}}/cover-image.png" alt="" />
        </div>
        <div class="countrydetails">
          <h1>Country</h1>
          <h4>Boundaries</h4>
          <ul class="countryLeft">
            <li>
              <img src="{{imagesPath}}/icon1.jpg" alt="" />
              <h3>Automated Report</h3>
              <p>
                The selected location is within the
                <a href="#">staffordshire</a> country
              </p>
            </li>
            <li>
              <img src="{{imagesPath}}/icon3.jpg" alt="" />
              <h3>Risk Level</h3>
              <p>Risk</p>
              <div class="lavelindic">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </li>

            <li>
              <img src="{{imagesPath}}/icon7.jpg" alt="" />
              <h3>Importance</h3>
              <p>Very Low</p>
              <div class="lavelindic">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </li>
          </ul>
        </div>

        <div class="textData">
          <h1>&nbsp;</h1>
          <h4>&nbsp;</h4>
          <ul>
            <li>
              <img src="{{imagesPath}}/icon2.jpg" alt="" />
              <h3>Custom Noted</h3>
              <p>
                change view and risk level
                <a href="#"
                  ><img src="{{imagesPath}}/icon4.jpg" alt="" class="noteimg"
                /></a>
              </p>
            </li>
            <li>
              <img src="{{imagesPath}}/icon8.jpg" alt="" />
              <div class="lb2">
                <h3>Risk Level</h3>
                <label>customized</label>
              </div>
              <p>High Risk</p>
            </li>
            <li>
              <img src="{{imagesPath}}/icon6.jpg" alt="" />
              <h3>Provider</h3>
              <p>office for National statistics</p>
            </li>
          </ul>
        </div>
        <div class="cardfooter">
          <p>This is footer text</p>
        </div>
      </div>
      <div class="mainbox">
        <div class="map">
          <img src="{{imagesPath}}/cover-image.png" alt="" />
        </div>
        <div class="countrydetails">
          <h1>Country</h1>
          <h4>Boundaries</h4>
          <ul class="countryLeft">
            <li>
              <img src="{{imagesPath}}/icon1.jpg" alt="" />
              <h3>Automated Report</h3>
              <p>
                The selected location is within the
                <a href="#">staffordshire</a> country
              </p>
            </li>
            <li>
              <img src="{{imagesPath}}/icon3.jpg" alt="" />
              <h3>Risk Level</h3>
              <p>Risk</p>
              <div class="lavelindic">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </li>

            <li>
              <img src="{{imagesPath}}/icon7.jpg" alt="" />
              <h3>Importance</h3>
              <p>Very Low</p>
              <div class="lavelindic">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </li>
          </ul>
        </div>

        <div class="textData">
          <h1>&nbsp;</h1>
          <h4>&nbsp;</h4>
          <ul>
            <li>
              <img src="{{imagesPath}}/icon2.jpg" alt="" />
              <h3>Custom Noted</h3>
              <p>
                change view and risk level
                <a href="#"
                  ><img src="{{imagesPath}}/icon4.jpg" alt="" class="noteimg"
                /></a>
              </p>
            </li>
            <li>
              <img src="{{imagesPath}}/icon8.jpg" alt="" />
              <div class="lb2">
                <h3>Risk Level</h3>
                <label>customized</label>
              </div>
              <p>High Risk</p>
            </li>
            <li>
              <img src="{{imagesPath}}/icon6.jpg" alt="" />
              <h3>Provider</h3>
              <p>office for National statistics</p>
            </li>
          </ul>
        </div>
        <div class="cardfooter">
          <p>This is footer text</p>
        </div>
      </div>
      <div class="mainbox">
        <div class="map">
          <img src="{{imagesPath}}/cover-image.png" alt="" />
        </div>
        <div class="countrydetails">
          <h1>Country</h1>
          <h4>Boundaries</h4>
          <ul class="countryLeft">
            <li>
              <img src="{{imagesPath}}/icon1.jpg" alt="" />
              <h3>Automated Report</h3>
              <p>
                The selected location is within the
                <a href="#">staffordshire</a> country
              </p>
            </li>
            <li>
              <img src="{{imagesPath}}/icon3.jpg" alt="" />
              <h3>Risk Level</h3>
              <p>Risk</p>
              <div class="lavelindic">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </li>

            <li>
              <img src="{{imagesPath}}/icon7.jpg" alt="" />
              <h3>Importance</h3>
              <p>Very Low</p>
              <div class="lavelindic">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </li>
          </ul>
        </div>

        <div class="textData">
          <h1>&nbsp;</h1>
          <h4>&nbsp;</h4>
          <ul>
            <li>
              <img src="{{imagesPath}}/icon2.jpg" alt="" />
              <h3>Custom Noted</h3>
              <p>
                change view and risk level
                <a href="#"
                  ><img src="{{imagesPath}}/icon4.jpg" alt="" class="noteimg"
                /></a>
              </p>
            </li>
            <li>
              <img src="{{imagesPath}}/icon8.jpg" alt="" />
              <div class="lb2">
                <h3>Risk Level</h3>
                <label>customized</label>
              </div>
              <p>High Risk</p>
            </li>
            <li>
              <img src="{{imagesPath}}/icon6.jpg" alt="" />
              <h3>Provider</h3>
              <p>office for National statistics</p>
            </li>
          </ul>
        </div>
        <div class="cardfooter">
          <p>This is footer text</p>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>
